.container {
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  text-align: center;
}

.form{
  display: grid;
}
.button{
  padding: 5px;
  background-color: rgba(0,0,0,0.75);
  color: white;
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.button:hover{
  background-color: rgba(0,0,0,0.85);
}

.input{
  margin-bottom: 5px;
  border-radius: 20px;
  padding: 5px;
}

.card {
  text-align: left;
  margin-top: 10px;
  display: flex;
}
.text{
  margin-left: 10px;
}
